// Footer Start
footer {
  position: relative;
  padding: 24px 0;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  @media (max-width: 1500px) {
    padding: 24px 40px;
  }
  @media (max-width: 1024px) {
    padding: 24px;
  }
  @media (max-width: 768px) {
    padding: 24px 16px;
  }
  .container {
    .footer-in {
      display: flex;
      flex-direction: column;
      .footer-nav {
        display: flex;
        padding-bottom: 32px;
        @media (max-width: 1024px) {
          display: none;
        }
        .column {
          width: 190px;
          max-width: 190px;
          display: flex;
          flex-direction: column;
          margin-left: 32px;
          &:nth-child(1) {
            margin-left: 0;
          }
          .subhead {
            font-size: 19px;
            font-weight: 400;
            margin-bottom: 24px !important;
            letter-spacing: 0.1px;
            color: $fontColor;
          }
          ul {
            display: inline-block;
            li {
              a {
                display: block;
                color: $lightFontColor;
                padding: 8px 0;
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.3px;
                transition: all 0.1s ease-in-out;
                &:hover {
                  color: $fontColor;
                }
              }
            }
          }
        }
      }
      .social {
        display: flex;
        padding: 32px 0 6px !important;
        margin-left: -5px !important;
        border-top: 2px solid $borderColor !important;
        li {
          margin-right: 4px;
          @media (max-width: 480px) {
            margin-right: 0;
          }
          &:hover {
            a {
              span {
                transform: scale(1);
              }
            }
          }
          a {
            position: relative;
            display: block;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;
            .icon-spotify {
              width: 32px;
              height: 32px;
              color: $fontColor;
            }
            .icon {
              padding: 6px;
              border-radius: 100%;
              background-color: $fontColor;
              color: #fff;
              width: 32px;
              height: 32px;
            }
            span {
              position: absolute;
              top: -2px;
              left: -2px;
              border-radius: 100%;
              z-index: -1;
              width: 48px;
              height: 48px;
              background-color: rgba(0, 0, 0, 0.09);
              transform: scale(0);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
      .content-foot {
        display: flex;
        margin: 20px 10px 4px 0;
        font-size: 16px;
        line-height: 1.5;
        .region {
          padding-right: 40px;
          display: flex;
          flex-direction: column;
          .title {
            font-weight: 600;
            color: $fontColor;
            text-transform: uppercase;
          }
          .lang {
            display: flex;
            align-items: center;
            color: $lightFontColor;
          }
          .active-lang {
            color: #00754a;
            .active-icon {
              margin-left: 8px;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              display: flex;
              padding: 3px;
              align-items: center;
              justify-content: center;
              background-color: #00754a;
              color: #fff;
            }
          }
        }
      }
      .privacy {
        margin: 16px 0 4px !important;
        width: fit-content;
        @media (max-width: 1024px) {
          margin-bottom: 0 !important;
        }
        li {
          a {
            padding: 8px 0;
            margin-bottom: 4px;
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.4px;
            color: $fontColor;
            &:hover {
              text-decoration: underline !important;
            }
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
      .privacy-customer {
        display: flex;
        align-items: center;
        margin: 20px 0 4px 0 !important;
        line-height: 24px;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }
        li {
          display: flex;
          align-items: center;
          text-align: center;
          &:nth-child(1) {
            a {
              padding-left: 0 !important;
            }
          }
          a {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.4px;
            padding: 8px 16px;
            color: $fontColor;
            @media (max-width: 768px) {
              padding: 8px 0;
            }
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
        span {
          display: inline;
          color: #000;
          border-bottom: 1px solid #000 !important;
          transform: rotate(90deg);
          padding: 0 8px;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      .copyright {
        padding: 16px 0 !important;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: $lightFontColor;
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  }
}
// Footer End

// New Footer Start
.new-footer {
  padding: 48px 0 146px;
  @media (max-width: 768px) {
    padding: 32px 0 146px;
  }
  .new-container {
    max-width: 100% !important;
    .new-footer-in {
      padding-left: 136px;
      padding-right: 40px;
      @media (max-width: 1024px) {
        padding-left: 104px;
        padding-right: 24px;
      }
      @media (max-width: 768px) {
        padding: 0 16px;
      }
    }
  }
}
// New Footer End
