// Featured Inner Start
.featured-inner {
  padding: 64px 40px 64px 135px;
  @media (max-width: 1024px) {
    padding: 40px 24px 40px 104px;
  }
  @media (max-width: 768px) {
    padding: 40px 16px;
  }
  .subtitle {
    color: #000000de;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.3px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .title {
    color: #00000094;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1.5px;
    padding-top: 24px !important;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
  .card-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    padding-top: 12px;
    @media (max-width: 440px) {
        gap: 8px;
      }
    .list-item {
      max-width: 24%;
      margin-top: 12px;
      @media (max-width: 1280px) {
        max-width: 23%;
      }
      @media (max-width: 768px) {
        max-width: 48%;
      }
      @media (max-width: 440px) {
        max-width: 47%;
      }
      .item-in {
        box-shadow: 0 2px 3px #0000003d;
        border-radius: 10px;
        display: block;
        transition: transform 0.3s ease 0s;
        &:hover {
          transform: translateY(-8px);
        }
        img {
          height: auto;
          max-width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
// Featured Inner End
