// Find Store Start
.store-locator {
  margin-top: -99px;
  .locator-main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 99px;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      height: 101vh;
    }
    @media (max-width: 768px) {
      height: 103vh;
    }
    .content-side {
      width: 40%;
      height: 100%;
      box-shadow: 0 2px 4px 0 #0000001f;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      @media (max-width: 1024px) {
        width: 100%;
        background-color: #fff;
      }
      .search-box {
        min-height: 50px;
        padding: 24px 40px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
          display: none;
        }
        .form-group {
          position: relative;
          width: 82%;
          .search-input {
            outline: none;
            border-bottom: 1px solid #00000094 !important;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 19px;
            letter-spacing: 0.4px;
            padding: 8px 48px 8px 2px;
            transition: all 0.2s ease-in-out;
            &::placeholder {
              color: #00000094;
            }
          }
          .icon {
            cursor: pointer;
            position: absolute;
            font-size: 26px;
            right: 10px;
            top: 5px;
            color: #00000094;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: #000;
            }
          }
        }
        .submit-btn {
          color: rgb(6, 116, 70);
          min-width: 35px;
          min-height: 35px;
          margin-left: 24px;
          background: none;
          border-radius: 50px;
          border: 1px solid rgb(6, 116, 70) !important;
          display: inline-block;
          font-size: 16px;
          letter-spacing: 0.4px;
          font-weight: 600;
          line-height: 1.2;
          padding: 7px 16px;
          text-align: center;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: rgba(6, 116, 70, 0.1);
          }
        }
      }
      .section-info {
        scroll-padding-top: 0px;
        position: relative;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background-color: #ebebeb;
        }
        .info-header {
          display: flex;
          flex-direction: column;
          margin: 2px 0;
          padding: 24px 16px 24px 40px;
          transition: all 0.2s ease-in-out;
          width: 100%;
          &:hover {
            background-color: #0000000f;
          }
          @media (max-width: 1024px) {
            padding: 24px;
          }
          @media (max-width: 768px) {
            padding: 24px 16px;
          }
          .header-content {
            display: flex;
            flex-direction: column;
            .title {
              color: $colorTextBlack;
              font-size: 28px;
              font-weight: 600;
              line-height: 1.385;
              letter-spacing: 0.8px;
              margin-bottom: 16px !important;
              @media (max-width: 1024px) {
                margin-bottom: 8px !important;
              }
              @media (max-width: 768px) {
                font-size: 24px;
              }
              @media (max-width: 375px) {
                font-size: 20px;
                letter-spacing: 0.6px;
              }
            }
            .text {
              color: #00000094;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.3px;
              @media (max-width: 768px) {
                font-size: 14px;
              }
            }
          }
        }
        .info-bottom {
          padding: 24px 24px 90px 40px;
          @media (max-width: 1024px) {
            padding: 24px 24px 90px 24px;
          }
          .list {
            li {
              a {
                color: #006241;
                display: inline-flex;
                align-items: center;
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.4px;
                @media (max-width: 768px) {
                  font-size: 14px;
                }
                .icon {
                  font-size: 12px;
                  margin-left: 6px;
                }
              }
            }
          }
        }
      }
    }
    .map-side {
      width: 60%;
      height: 100%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .search-box-mobile {
        min-height: 50px;
        padding: 16px 24px;
        justify-content: space-between;
        box-shadow: 0 2px 4px 0 #0000001f;
        display: none;
        @media (max-width: 1024px) {
          display: flex;
        }
        @media (max-width: 768px) {
          padding: 16px;
        }
        .form-group {
          position: relative;
          width: 90%;
          @media (max-width: 375px) {
            width: 72%;
          }
          .search-input {
            outline: none;
            border-bottom: 1px solid #00000094 !important;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 19px;
            letter-spacing: 0.4px;
            padding: 0 48px 0 2px;
            transition: all 0.2s ease-in-out;
            &::placeholder {
              color: #00000094;
            }
            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
          .icon {
            cursor: pointer;
            position: absolute;
            font-size: 26px;
            right: 10px;
            top: 5px;
            color: #00000094;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: #000;
            }
          }
        }
        .submit-btn {
          color: rgb(6, 116, 70);
          min-width: 35px;
          min-height: 35px;
          margin-left: 24px;
          background: none;
          border-radius: 50px;
          border: 1px solid rgb(6, 116, 70) !important;
          display: inline-block;
          font-size: 16px;
          letter-spacing: 0.4px;
          font-weight: 600;
          line-height: 1.2;
          padding: 7px 16px;
          text-align: center;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: rgba(6, 116, 70, 0.1);
          }
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      .map {
        width: 100%;
        height: 100%;
        @media (max-width: 1024px) {
          height: 88%;
        }
        @media (max-width: 430px) {
          height: 81%;
        }
        @media (max-width: 400px) {
          height: 78%;
        }
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// Find Store End
