// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Base Settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  border: none !important;
  scroll-behavior: unset !important;
  font-family: "Roboto", sans-serif;
  &::-webkit-scrollbar {
    width: 17px;
  }
  // &::-webkit-scrollbar-track {
    // background-color: rgba(10, 91, 61, 0.008);
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00754a;
    // #1e3932
    // #00754a
  }
}

// Base Container
.container {
  max-width: 1440px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

// Reactstrap/Bootstrap reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 !important;
  padding: 0 !important;
}
